
.background  {
    background-color: rgba(99,33,143,1);
}

.botao1 {
    padding:10px;
    margin-left: 525px;
    margin-top: 100px;
    border-radius: 10px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    color: white;
    border-color: black;
    
   
}

.botao2 {
    padding:10px; 
    margin-left: 10px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    color: white;
    border-color: black;
    
}

.botao3 {
    padding:10px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    color: white; 
    border-color: black;
}

.logo {
    padding-left: 360px;
}

/*.div {
    text-align: center;
}